{% extends "base.html" %}
{% block title %}Property list{% endblock %}
{% block info %}
<h1>List of properties in branch {{ branch }}</h1>
{% endblock %}

{% block content %}

   <script>
      function set_property()
      {
         var value = document.getElementById("set_val_box").value;
         window.location.href = "{{ url_for('set_property') }}?prop={{ branch }}&"+
                                'val='+value;
      };
   </script>

<table border="1" style="width:100%">
   <tr>
    <th>Name</th>
    <th>Description</th> 
   </tr>
   {% for property in properties %}
   <tr>
      {% if ('childs' in property.flags) or (properties|length != 1) %}
         <td><a href="{{ url_for('get_property_list', branch = property.path) }}">"{{ property.name }}"</td>
         {% if 'description' in property %}
      <script>
      function set_property()
      {
         var value = document.getElementById("set_val_box").value;
         window.location.href = "{{ url_for('set_property') }}?prop={{ branch }}&"+
                                'val='+value;
      };
   </script>
         <td>{{ property.description }}</td>
            {% else %}
            <td></td>
            {% endif %}
         {% else %}
            <td>{{ property.name }}"</td>
            <td>
               <table border="1" style="width:100%">
                  {% if 'description' in property %}
                  <tr>
                     <th> Description </th>
                     <td> {{ property.description }} </td>
                  </tr>
                  {% endif %}
                  <tr>
                     <th> Current value </th>
                     <td> {{ value }} </td>
                  </tr>
                  {% if 'W' in property.mode %}
                     <tr>
                        <th> Set value</th>
                        <td> 
                           <input type="text" name="set_val_box" id="set_val_box" value="" />
                           <input type="button" value="set" onclick="set_property()">
                        </td>
                     </tr>
                  {% endif %}
                  <tr>
                     <th>Mode</th>
                     <td>
                        <ul>
                           {% for m in property.mode %}
                              <li>{{ m }}</li>
                           {% endfor %}
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <th>Type</th>
                     <td> {{ property.type }} </td>
                  </tr>
                  <tr>
                     <th>Unit</th>
                     <td> {{ property.unit }} </td>
                  </tr>
                  <tr>
                     <th>Path</th>
                     <td> {{ property.path }} </td>
                  </tr>
               </table>
            </td>
         {% endif %}
      </tr>
      {% endfor %}
   </table>
{% endblock %}
