{% extends "base.html" %}
{% block title %}Registers list{% endblock %}
{% block info %}
<h1>List of aviable registers</h1>
{% endblock %}

{% block content %}
<table border="1" style="width:100%">
   <tr>
    <th>Name</th>
    <th>Description</th> 
  </tr>
{% for register in registers %}
   <tr>
      <td><a href="{{ url_for('get_register_info', bank=register.bank, name=register.name) }}">{{ register.name }}</td>
      {% if 'description' in register %}
         <td>{{ register.description }}</td>
      {% else %}
         <td></td>
      {% endif %}
   </tr>
{% endfor %}
</table>
{% endblock %}


