{% block content %}

{% if standalone %}
<script src="{{ url_for('static', filename='codebase/dhtmlx.js') }}"></script>
<script src="{{ url_for('static', filename='check_err.js') }}"></script>
{% endif %}

<script>
   function updateRegister(bank, name) {
      var pathToReadRegister = "{{ url_for('read_register_json') }}"
      var completePath = pathToReadRegister + '?bank=' + bank +
                     '&name=' + name
      
      $.getJSON(completePath, function(json){
                  checkError(json)
                  $("#actVal").text(json.value)
               })
   }
   
   function writeRegister(bank, name)
   {
      var value = document.getElementById("set_val_box").value;
      if(value == "")
         return
      
      var pathToReadRegister = "{{ url_for('write_register_json') }}"
      var completePath = pathToReadRegister + '?bank=' + bank +
                     '&name=' + name + '&val=' + value;
                        
      $.getJSON(completePath, 
                function(json) {
                   checkError(json)
                   updateRegister(bank, name)
                })
   }; 
</script>

<table class="infoTable">
   <tr class="infoTable">
      {% if 'description' in register %}
      <td class="infoTable"> Description </td>
      {% endif %}
      <td class="infoTable"> Value </td>
      <td class="infoTable">Default value</td>
      <td class="infoTable">Bank</td>
      <td class="infoTable">Mode</td>
      {% if 'range' in register %}
         <td class="infoTable">Range</td>
      {% endif %}
      {% if 'values' in register %}
         <td class="infoTable">Values</td>
      {% endif %}
   </tr>
   
   <tr class="infoTable">
      {% if 'description' in register %}
         <td class="infoTable"> {{ register.description }} </td>
      {% endif %}
      <td class="infoTable">
         <table>
            <tr class="infoTable">
               <td id="actVal" class="infoTable"> {{ value }} </td>
               {% if 'R' in register.mode %}
                  <td> 
                     <input type="button" value="update"
                            style="width:100%;height:100%"
                            onclick="updateRegister('{{ register.bank }}', '{{ register.name }}')">
                  </td>
               {% endif %}
            </tr>
            {% if 'W' in register.mode %}
               <tr class="infoTable">
                  <td> 
                     <input type="text" name="set_val_box" id="set_val_box" value="" />
                  </td>
                  <td> 
                     <input type="button" value="set" 
                            style="width:100%;height:100%" 
                            onclick="writeRegister('{{ register.bank }}', '{{ register.name }}')">
                  </td>
               </tr>
            {% endif %}
         </table>
      </td>
      <td class="infoTable">{{ register.defvalue }}</td>
      <td class="infoTable">{{ register.bank }}</td>
      <td class="infoTable">
         <ul>
         {% for m in register.mode %}
            {{ m + ';  '}}
         {% endfor %}
         </ul>
      </td>
      {% if 'range' in register %}
         <td class="infoTable">
            <table>
               <tr class="infoTable">
                  <td class="infoTable"> min </td>
                  <td class="infoTable"> max </td>
               </tr>
               <tr class="infoTable">
                  <td class="infoTable"> {{ register.range.min }} </td>
                  <td class="infoTable"> {{ register.range.max }} </td>
               </tr>
            </table>
         </td>
      {% endif %}
      {% if 'values' in register %}
      <td class="infoTable">
         <table>
            <tr>
            {% for v in register['values'] %}
               <td>
               <table>
                  {% if 'name' in v %}
                     <tr class="infoTable">
                        <td class="infoTable"> Name </td>
                        <td class="infoTable"> {{v.name}} </td>
                     </tr>
                  {% endif %}
                  {% if 'description' in v %}
                     <tr class="infoTable">
                        <td class="infoTable"> Description </td>
                        <td class="infoTable"> {{ v.description }} </td>
                     </tr>
                  {% endif %}
                  <tr class="infoTable">
                     <td class="infoTable"> Min </td>
                     <td class="infoTable"> {{ v.min }} </td>
                  </tr>
                  <tr class="infoTable">
                     <td class="infoTable"> Max </td>
                     <td class="infoTable"> {{ v.max }} </td>
                  </tr>
                  <tr class="infoTable">
                     <td class="infoTable"> Value </td>
                     <td class="infoTable"> {{ v.value }} </td>
                  </tr>
               </table>
               </td>
            {% endfor %}
            </tr>
         </table>
      </td>
      {% endif %}
   </tr>
</table>
{% endblock %}
