.tree {
   height: 85vh;
   padding: 5px;
   border: 1px solid #aaa;
   line-height: 28px;
   cursor: pointer;
   position: relative;
   bottom: 1px;
   background: #fff;
   overflow:auto;
}

.infoTable {
   padding: 2px;
   
   border: 1px solid #aaa;
   line-height: 28px;
   cursor: pointer;
   position: relative;
   background: #fff;
   overflow:auto;
   bottom: 1px;
   
   text-align: left;
}

